#customer {
    background-image: linear-gradient(to bottom,
            var(--primaryColor),
            rgb(246, 244, 244));
    padding-top: 100px;
    border-radius: 0 0 50% 50%;
}

.customer__cards-wrapp {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 25px;
    padding: 60px 0 50px;
}

.customer__card {
    width: 100%;
    max-width: 220px;
}

.customer__tittle {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 10px;
}

.customer__btn-wrapp {
    text-align: center;
    padding-bottom: 90px;
}

@media (max-width: 1000px) {
    #customer {

        border-radius: 0;
    }

    .customer__cards-wrapp {
        gap: 50px;
        flex-wrap: wrap;
    }


}

@media (max-width: 650px) {
    #customer {
        padding-top: 30px;
    }
}

@media (max-width: 650px) {
    .customer__cards-wrapp {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
        width: 100%;
    }

    .customer__tittle {
        padding: 10px 8px;
    }

    .customer__card {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 500px) {
    #customer {
        padding-top: 30px;
    }
}