.contents {
    padding-top: 120px;
}

.owl-carousel .item {
    width: 100%;
    max-width: 348px;
    border: 2px solid rgb(172, 170, 170);
    border-radius: 10px;
    margin: 20px 0;
    transition: .3s;
}

.owl-carousel .item:hover {
    color: var(--hoverColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contents__text {
    padding: 8px 0 40px;
}

.contents__img {
    border-radius: 10px 10px 0 0;
}

.contents__card__text {
    padding: 24px 0 12px 24px;
}

.contents__card__text>span {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondColor);
}

.contents__card__tittle {
    font-size: 24px;
    font-weight: 700;
    padding: 0 24px 40px 24px;
    transition: 0.3s;
}

.contents__card__tittle:hover {
    color: var(--hoverColor);
}


@media (max-width:900px) {
    .owl-carousel .item {
        max-width: 260px;
    }
}

@media (max-width:700px) {
    .owl-carousel .item {
        max-width: 90%;
    }
}